
@media screen and (max-width: 500px)
{	
	/*header start*/
	.logo_img {width: 150px;padding-left: 10px;}
	.heartcheq_ul {text-align: center;}
	.heartcheq_ul li {border:1px solid #efefef;}
	.heartcheq_ul li a {font-size: 20px;}
	.login_btn {margin-left: 37%;margin-top: 10px;}
	.btn_toggle {margin-right: 5px;}
	/*about us*/
	.line_hori {width: 105px;}
	.heading h1 {font-size: 36px;}
	.content_aboutus p {font-size: 18px;text-align: justify;}
	/*health plans*/
	.health_plans {padding: 40px 20px 50px;}
	.heading_pink h1 {font-size: 36px;}
	.health_content p {font-size: 18px;line-height: 35px;text-align: justify;}
	.health_content h3 {font-size: 20px;}
	/*gadgets*/
	.gadgets_section {padding: 40px 20px 50px;}
	.gadget_content p {font-size: 18px;line-height: 35px;text-align: justify;}
	.arrow_btn {width: 20px;}
	/*contact us*/
	.form_contact {border-right: none;}
	.contact_forms input {margin: 10px 0;width: 100%;font-size: 18px;}
	.contact_btn {margin-right: 0;}
	.add_map p {font-size: 18px;}
	.contact_row {margin-top: 10px;}
	.footer p {font-size: 18px;}
}

 /*Mobile portrait (320x480)*/
@media (min-width:310px) and (max-width:470px)
{
	/*header start*/
	.logo_img {width: 150px;padding-left: 10px;}
	.heartcheq_ul {text-align: center;}
	.heartcheq_ul li {border:1px solid #efefef;}
	.heartcheq_ul li a {font-size: 20px;}
	.login_btn {margin-left: 37%;margin-top: 10px;}
	.btn_toggle {margin-right: 5px;}
	/*about us*/
	.line_hori {width: 105px;}
	.heading h1 {font-size: 36px;}
	.content_aboutus p {font-size: 18px;text-align: justify;}
	/*health plans*/
	.health_plans {padding: 40px 20px 50px;}
	.heading_pink h1 {font-size: 36px;}
	.health_content p {font-size: 18px;line-height: 35px;text-align: justify;}
	.health_content h3 {font-size: 20px;}
	.planner_div {height: 250px;max-height: 250px;}
	.planner_head h2 {font-size: 30px;}
	/*gadgets*/
	.gadgets_section {padding: 40px 20px 50px;}
	.gadget_content p {font-size: 18px;line-height: 35px;text-align: justify;}
	.arrow_btn {width: 20px;}
	/*contact us*/
	.form_contact {border-right: none;}
	.contact_forms input {margin: 10px 0;width: 100%;font-size: 18px;}
	.contact_btn {margin-right: 0;}
	.add_map p {font-size: 18px;}
	.contact_row {margin-top: 10px;}
}

/*Mobile  landscape (480x320)*/
@media (min-width:470px) and (max-width:580px)
{
	/*header*/
	.login_btn {margin-left: 41%;margin-top: 10px;}
}

/*Small tablet portrait (600x800)*/
@media (min-width:590px) and (max-width:767px)
{
	/*header start*/
	.logo_img {width: 200px;padding-left: 10px;}
	.heartcheq_ul {text-align: center;}
	.heartcheq_ul li {border:1px solid #efefef;}
	.heartcheq_ul li a {font-size: 20px;}
	.login_btn {margin-left:43%;margin-top: 10px;}
	.btn_toggle {margin-right: 5px;}
	/*about us*/
	.line_hori {width: 105px;}
	.heading h1 {font-size: 36px;}
	.content_aboutus p {font-size: 20px;text-align: justify;}
	/*health plans*/
	.health_plans {padding: 40px 20px 50px;}
	.heading_pink h1 {font-size: 36px;}
	.health_content p {font-size: 20px;line-height: 35px;text-align: justify;}
	.health_content h3 {font-size: 20px;}
	.but_1 {margin-top: 24px;}
	.more_btn {padding: 2px 18px 4px;font-size: 16px;}
	.planner_head h2 {font-size: 24px;}
	.planr_hr {width: 65px;}
	.planner_content h3 {font-size: 20px;}
	/*gadgets*/
	.gadgets_section {padding: 40px 20px 50px;}
	.gadget_content p {font-size: 20px;line-height: 35px;text-align: justify;}
	.arrow_btn {width: 20px;}
	/*contact us*/
	/*.form_contact {border-right: none;}*/
	.contact_forms input {margin: 10px 0;width: 90%;font-size: 18px;}
	.contact_btn {margin-right: 0;}
	.add_map p {font-size: 20px;}
	.contact_row {margin-top: 10px;}
	.footer p {font-size: 20px;}
}

/*Small tablet landscape (800x600)*/
@media (min-width:790px) and (max-width:900px)
{ 
	/*header start*/
	.logo_img {width: 250px;padding-left: 10px;}
	.heartcheq_ul {text-align: center;}
	.heartcheq_ul li {border:1px solid #efefef;}
	.heartcheq_ul li a {font-size: 24px;}
	.login_btn {margin-left:44%;margin-top: 10px;}
	.btn_toggle {margin-right: 5px;}
	/*about us*/
	.line_hori {width: 105px;}
	.heading h1 {font-size: 45px;}
	.content_aboutus p {font-size: 22px;text-align: justify;}
	/*health plans*/
	.health_plans {padding: 40px 20px 50px;}
	.heading_pink h1 {font-size: 45px;}
	.health_content p {font-size: 22px;line-height: 35px;text-align: justify;}
	.health_content h3 {font-size: 22px;}
	.but_1 {margin-top: 24px;}
	.more_btn {padding: 2px 18px 4px;font-size: 16px;}
	.planner_head h2 {font-size: 24px;}
	.planr_hr {width: 65px;}
	.planner_content h3 {font-size: 20px;}
	.planner_div {height: 205px;max-height: 205px;}
	/*gadgets*/
	.gadgets_section {padding: 40px 20px 50px;}
	.gadget_content p {font-size: 22px;line-height: 35px;text-align: justify;}
	.arrow_btn {width: 20px;}
	/*contact us*/
	/*.form_contact {border-right: none;}*/
	.contact_forms input {margin: 10px 0;width: 90%;font-size: 18px;}
	.contact_btn {margin-right: 0;}
	.add_map p {font-size: 22px;}
	.contact_row {margin-top: 10px;}
	.footer p {font-size: 22px;}

}


/*Tablet portrait (768x1024)*/
@media (min-width:758px) and (max-width:800px)
{ 
	/*header start*/
	.logo_img {width: 250px;padding-left: 10px;}
	.heartcheq_ul {text-align: center;}
	.heartcheq_ul li {border:1px solid #efefef;}
	.heartcheq_ul li a {font-size: 24px;}
	.login_btn {margin-left:44%;margin-top: 10px;}
	.btn_toggle {margin-right: 5px;}
	/*about us*/
	.line_hori {width: 105px;}
	.heading h1 {font-size: 45px;}
	.content_aboutus p {font-size: 22px;text-align: justify;}
	/*health plans*/
	.health_plans {padding: 40px 20px 50px;}
	.heading_pink h1 {font-size: 45px;}
	.health_content p {font-size: 22px;line-height: 35px;text-align: justify;}
	.health_content h3 {font-size: 22px;}
	.but_1 {margin-top: 24px;}
	.more_btn {padding: 2px 18px 4px;font-size: 16px;}
	.planner_head h2 {font-size: 24px;}
	.planr_hr {width: 65px;}
	.planner_content h3 {font-size: 20px;}
	.planner_div {height: 205px;max-height: 205px;}
	/*gadgets*/
	.gadgets_section {padding: 40px 20px 50px;}
	.gadget_content p {font-size: 22px;line-height: 35px;text-align: justify;}
	.arrow_btn {width: 20px;}
	/*contact us*/
	/*.form_contact {border-right: none;}*/
	.contact_forms input {margin: 10px 0;width: 90%;font-size: 18px;}
	.contact_btn {margin-right: 0;}
	.add_map p {font-size: 22px;}
	.contact_row {margin-top: 10px;}
	.footer p {font-size: 22px;}
	
}

/*Tablet landscape (1024x768)*/
@media (min-width:992px) and (max-width:1199px) 
{
	/*header*/
	.heartcheq_ul li a {font-size: 20px;margin: 0 12px;}
	/*planner*/
	.planner_head h2 {font-size: 30px;}
}


@media screen and (min-width: 1400px) 
{
	
}

@media screen and (min-width: 1600px) 
{
	
}

@media screen and (min-width: 1920px)
{
	.about_us {background-position: 0px;}
}

@media (min-width: 992px) 
{

}

@media (min-width: 1200px)
{

}

@media and (min-width: 1030px) and (max-width: 1366px) 
{
.about_us {background-position: 0px;}
}
@media (min-width:1440px) and (max-width:2560px) {

	.about_us {background-position: 0px;}
}






