html{ scroll-behavior: smooth;}
body {font-family: 'Source Sans Pro', sans-serif;}

/*navigation start*/
.logo_img {width: 270px;}
.heartcheq_navi {background-color: #fff !important; padding: 10px 0;}
.heartcheq_ul {}
.heartcheq_ul li a {color: #2A69AD !important; font-size: 22px; margin: 0 20px;}
.login_btn {background-color: #3E6AAE;padding:2px 18px 4px; font-size: 22px;}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active,
 .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {outline: 0;
 }
 .heartcheq_ul li a:active {color: #000 !important;}
/*navigation end*/

/*banner start*/
.banner {/*background-color:#DFDFDF*/ background-color: #f5f5f5;padding: 30px 0 10px;}
.banner_img {text-align: center;}
.img_bck {width: 65%;}
/*banner end*/

/*about us start*/
.about_us{background-image: url(../images/aboutus.png);padding: 40px 0;background-repeat: no-repeat;
          background-size: cover;}
.heading {text-align: center;color: #fff;}
.heading h1 {font-size: 45px;font-weight: bold;}
.content_aboutus {text-align: center;color: #fff;}
.content_aboutus p {font-size: 22px;}
.line_hori {width: 135px;border-width: 3px; border-color: #fff;}
/*about us end*/

/*our health plans start*/
.health_plans {background-color: #fff;padding: 40px 80px 50px;box-shadow: 0px 6px 30px 1px #312e2e;
	           border-radius: 30px; margin-top: 30px;}
.heading_pink {text-align: center;}
.heading_pink h1 {color: #F02978;font-size: 45px;font-weight: bold;}
.pink_hr {width: 135px;border-width: 3px; border-color: #F02978;}
.health_content {text-align: center;}
.health_content p {font-size: 22px;line-height: 35px;}
.health_content h3 {font-weight: bold; font-size: 28px;}

/*planner*/
.planner {margin: auto;}
.planner_div {background: #3B66AC;color: #fff;border-radius: 30px; padding: 20px 30px; margin-top: 50px;
    height: 250px; max-height: 250px;}
.planner_head {}
.planner_head h2 {font-weight: bold;font-size: 34px;}
.planner_content {}
.planner_content h3 {font-weight: bold;}
.planner_content button {}
.planr_hr{width: 135px; border-width: 3px;border-color: #fff; margin-left: 0;}
.but_1 {margin-top: 32px;}
.more_btn {border: none; float: right; border-radius: 25px;padding:2px 26px; font-size: 18px; color: #3B66AC;
    background: #fff; cursor: pointer;}
/*our health plans end*/

/*gadgets starts*/
.gadgets {background-image: url(../images/gadgets.png);background-repeat: no-repeat;
          background-size: cover; padding:50px 0;}
.gadgets_section {box-shadow: 0px 6px 30px 1px #312e2e; border-radius: 30px; padding:40px 80px 50px; background: #fff;}
.gadget_content {text-align: center;}
.gadget_content p{font-size: 22px;line-height: 35px;}
.slide_images {}
.slide_images img {margin-left: 25%;}
.arrow_btn {width: 50px;}
.gadgets_btn {float: right;border: none; padding: 4px 30px 5px; font-size: 22px;border-radius: 30px;
    background: #F02978; color: #fff; margin-top: 20px; cursor: pointer;}
.slider {margin-top:50px;}
/*gadgets end*/


/*contact us start*/
.contact_us {background-color: #000;padding: 40px 0;}
.contact_forms {}
.contact_forms input {width: 80%;border: none;border-bottom: 1px solid #fff;
    background: transparent; margin: 25px 0;padding: 5px;font-size: 22px;  color: #fff; outline: 0;}
.add_map {color: #fff;}
.contact_row {margin-top: 30px;}
.add_map p {font-size: 22px;}
.contact_row {margin-top: 80px;}
.form_contact {border-right: 1px solid #fff;}
.contact_btn {float: right; margin-right:20%; background: #F02978; border: none; color: #fff;
    font-size: 22px; padding: 0 20px; border-radius: 25px;cursor: pointer;}
.footer {}
.footer p {font-size: 22px; color: #fff; text-align: center; margin-top: 50px;}
.footer p a {color: #fff; text-decoration: none;}

